

:root {
    --bleu: #A773FF;
    --couleur_principale: #583EFF;
    --silver: #E3D7FF;
}


/* Réinitialisation des styles pour tous les éléments */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans';
}

/* Styles généraux pour le corps de la page */
body{
    width: 100%;
    min-height: 100vh;
    /* Centrage vertical et horizontal */
    justify-content: center;
    align-items: center;
}

/* header{
    /*background-color: #583EFF;*/
    /* background-image: url(../img/2.png); */
    /*background: linear-gradient(to right, #583EFF, #7620DC);*/
    /* display: flex;
    justify-content: space-around;
    color: white;
    font-family: sans-serif;
    background-repeat: no-repeat; */


/* }  */

/* Styles spécifiques pour l'en-tête */
header {
    /* Arrière-plan de l'en-tête avec image de fond */
    background-image: url(../img/2.png);
    background-size: cover;/* Redimensionnement proportionnel pour remplir */
    background-position: center center; /* Centrage horizontal et vertical */
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: sans-serif;
    background-repeat: no-repeat;
  }
  
/* Styles pour les informations personnelles dans l'en-tête */
.info{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*margin-bottom: 20px;*/
}

.info .info-corp-element{
    margin-left: 12px;
}

/* Ajustement de la marge interne pour les informations personnelles */
header .info{
    padding: 30px 10px 40px 80px;
}
header .info-corp{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    
}

/* Styles pour la description des informations personnelles */
header .info-corp-description {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    margin-left: 12px;
}

/* Positionnement absolu des éléments "tel" et "email" */
header .info-corp-description .tel{
    position: absolute;
    left: 200px;
}
header .info-corp-description .email{
    position: absolute;
    left: 345px;
   
}

/* Styles pour l'image dans l'en-tête */
header img{
    margin-top: 10px;
    border-radius: 15px;

}

/* Styles pour la section principale */
main{
    margin: 10px;
}

/* Styles pour les titres de sections */
main section h2{
    text-align: center;
    border: 2px solid var(--silver);
    margin: 30px 30px;
    padding: 10px 10px;
}

/* Styles pour les paragraphes dans les sections */
main section p{
    margin: 0px 30px;
    
}

/* Styles pour le texte de profil dans les sections */
main section .profile-text{
    font-weight: bold;
}

/* Styles pour les contenus des sections */
main section .content {
    display: flex;
    justify-content: space-around;
    margin: 0px 30px;
}

/* Espacement supplémentaire pour certains éléments */
main section .part-element2{
    margin-top: 50px;
}
main section .part-element3{
    margin-top: 80px;
}

/* Styles pour les parties des sections */
.part {
   padding: 0px 30px;
    border-left: 2px solid var(--couleur_principale);
    position: relative;
}

/* Styles pour les points avant chaque partie */
.part::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--couleur_principale);
    border-radius: 50%;
    top: 0;
    transform: translateY(-50%);
    left: -6px; /* Ajustez la position horizontale du point */
}

/* Ajoutez ces styles pour créer des points ronds sur les lignes */

.part:nth-child(odd)::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--couleur_principale);
    border-radius: 50%;
    top: 100%;
    transform: translateY(-50%);
    left: -6px; /* Ajustez la position horizontale du point */
}

.part:nth-child(even)::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--couleur_principale);
    border-radius: 50%;
    top: 100%;
    transform: translateY(-50%);
    left: -6px; /* Ajustez la position horizontale du point */
}

.part:nth-child(odd)::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--couleur_principale);
    border-radius: 50%;
    top: 0;
    transform: translateY(-50%);
    right: 99%; /* Ajustez la position horizontale du point */
}

.part:nth-child(even)::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--couleur_principale);
    border-radius: 50%;
    top: 0;
    transform: translateY(-50%);
    right: 99%; /* Ajustez la position horizontale du point */
}

/* Styles pour la ligne horizontale */
hr {
    height: 3px; 
    border: none; 
    border-radius: 16px;
    padding: 0px 24px;
    width: 100px;
    position: relative;
    background-color: silver;
}

/* Styles pour les éléments HTML */
.html::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 98%; 
    height: 100%;
    background: linear-gradient(to right, #583EFF, #7620DC); 
}
.MySql::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 85%; 
    height: 100%;
    background: linear-gradient(to right, #583EFF, #7620DC); /* Dégradé linéaire */
}
.CSS::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; 
    height: 100%;
    background: linear-gradient(to right, #583EFF, #7620DC); /* Dégradé linéaire */
}
.ACCESS::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 98%; 
    height: 100%;
    background: linear-gradient(to right, #583EFF, #7620DC); /* Dégradé linéaire */
}
.JavaScript::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80%; 
    height: 100%;
    background: linear-gradient(to right, #583EFF, #7620DC); /* Dégradé linéaire */
}


footer h2{
    text-align: center;
    border: 2px solid silver;
    margin: 35px 35px;
    padding: 10px 10px;
}

/* Styles pour les éléments de liste d'intérêts */
footer .interet{
position: relative;
display: flex;
}

/* Styles pour chaque élément de la liste d'intérêts */
.interets-element{
    /* margin: 0px 70px; */
    display: flex;
    align-items: center;
}

.interet{
    align-items: center;
    justify-content: center;
}

/* Styles pour les icônes de la liste d'intérêts */
footer i{
    background: linear-gradient(to right, #583EFF, #7620DC);
    color: white;
    font-size: 20px;
    padding: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Médias queries pour les écrans de petite*/
@media screen and (max-width: 641px){
    * {
        width: 100%;
        margin: 0px;
        font-family: sans-serif;
        padding: 0px;
    }

    /* .interet {
        flex-direction: column;
    } */

    .content{
        flex-direction: column;

    }

    footer h2 {
        margin: 30px 30px;
        width: 80%;
    }
    .interets-element{
        font-size: 12px;
        margin-bottom: 15px;
        justify-content: center;
    }
    .interet{
        margin-left: 12px;
        
    }

    header{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        border-radius: 0;
    }

    .photo img{
       width: 50%;
        border-radius: 50%;
    }


    .info{
        font-size: 12px;
        flex-direction: column;
        background: linear-gradient(to right, #583EFF, #7620DC);
        font-family: sans-serif;

    }

    .info-corp{
        flex-direction: row;
    }
    main{
        width: 80%;
    }
    footer i{
        background: linear-gradient(to right, #583EFF, #7620DC);
        color: white;
        padding: 5px;
        width: 50px;
        border-radius: 50%;
    }

    .info .info-corp{
        flex-direction: column;
        margin-top: 10px;
    }

}
